In [4]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [31]:
# NFLのデータをサンプルとして使う
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [35]:
# クリップボードから読み込む
nfl_frame = pd.read_clipboard()

In [36]:
nfl_frame

    Rank                     Team    ...     First NFL Season   Division
0      1           Dallas Cowboys    ...                 1960   NFC East
1      2            Chicago Bears    ...                 1920  NFC North
2      3        Green Bay Packers    ...                 1921  NFC North
3      4  New England Patriots[b]    ...                 1960   AFC East
4      5           Miami Dolphins    ...                 1966   AFC East
5      6        Minnesota Vikings    ...                 1961  NFC North
6      7         Baltimore Ravens    ...                 1996  AFC North
7      8          New York Giants    ...                 1925   NFC East
8      9           Denver Broncos    ...                 1960   AFC West
9     10      San Francisco 49ers    ...                 1950   NFC West
10    11    Indianapolis Colts[c]    ...                 1953  AFC South
11    12      Pittsburgh Steelers    ...                 1933  AFC North
12    13       Kansas City Chiefs    ...                 1960   AFC West
13    14          Oakland Raiders    ...                 1960   AFC West
14    15         Seattle Seahawks    ...                 1976   NFC West
15    16      Washington Redskins    ...                 1932   NFC East
16    17  Los Angeles Chargers[d]    ...                 1960   AFC West
17    18         Los Angeles Rams    ...                 1937   NFC West
18    19        Carolina Panthers    ...                 1995  NFC South
19    20      Philadelphia Eagles    ...                 1933   NFC East
20    21         Cleveland Browns    ...                 1950  AFC North
21    22         Tennessee Titans    ...                 1960  AFC South
22    23            Buffalo Bills    ...                 1960   AFC East
23    24            Detroit Lions    ...                 1930  NFC North
24    25       Cincinnati Bengals    ...                 1968  AFC North
25    26       New Orleans Saints    ...                 1967  NFC South
26    27            New York Jets    ...                 1960   AFC East
27    28           Houston Texans    ...                 2002  AFC South
28    29     Jacksonville Jaguars    ...                 1995  AFC South
29    30          Atlanta Falcons    ...                 1966  NFC South
30    31        Arizona Cardinals    ...                 1920   NFC West
31    32     Tampa Bay Buccaneers    ...                 1976  NFC South

[32 rows x 9 columns]

In [37]:
# 列の名前が.columnsでわかる
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [38]:
nfl_frame['First NFL Season']

0     1960
1     1920
2     1921
3     1960
4     1966
5     1961
6     1996
7     1925
8     1960
9     1950
10    1953
11    1933
12    1960
13    1960
14    1976
15    1932
16    1960
17    1937
18    1995
19    1933
20    1950
21    1960
22    1960
23    1930
24    1968
25    1967
26    1960
27    2002
28    1995
29    1966
30    1920
31    1976
Name: First NFL Season, dtype: int64

In [39]:
# オブジェクトの属性のような書き方も可能
nfl_frame.Team

0              Dallas Cowboys
1               Chicago Bears
2           Green Bay Packers
3     New England Patriots[b]
4              Miami Dolphins
5           Minnesota Vikings
6            Baltimore Ravens
7             New York Giants
8              Denver Broncos
9         San Francisco 49ers
10      Indianapolis Colts[c]
11        Pittsburgh Steelers
12         Kansas City Chiefs
13            Oakland Raiders
14           Seattle Seahawks
15        Washington Redskins
16    Los Angeles Chargers[d]
17           Los Angeles Rams
18          Carolina Panthers
19        Philadelphia Eagles
20           Cleveland Browns
21           Tennessee Titans
22              Buffalo Bills
23              Detroit Lions
24         Cincinnati Bengals
25         New Orleans Saints
26              New York Jets
27             Houston Texans
28       Jacksonville Jaguars
29            Atlanta Falcons
30          Arizona Cardinals
31       Tampa Bay Buccaneers
Name: Team, dtype: object

In [40]:
# 特定のカラムで新しいDataFrameを作る
DataFrame(nfl_frame, columns=['Team','First NFL Season','GP'])

                       Team  First NFL Season     GP
0            Dallas Cowboys              1960    898
1             Chicago Bears              1920  1,386
2         Green Bay Packers              1921  1,352
3   New England Patriots[b]              1960    900
4            Miami Dolphins              1966    816
5         Minnesota Vikings              1961    886
6          Baltimore Ravens              1996    368
7           New York Giants              1925  1,321
8            Denver Broncos              1960    900
9       San Francisco 49ers              1950  1,018
10    Indianapolis Colts[c]              1953    982
11      Pittsburgh Steelers              1933  1,208
12       Kansas City Chiefs              1960    900
13          Oakland Raiders              1960    900
14         Seattle Seahawks              1976    676
15      Washington Redskins              1932  1,218
16  Los Angeles Chargers[d]              1960    900
17         Los Angeles Rams              1937  1,151
18        Carolina Panthers              1995    384
19      Philadelphia Eagles              1933  1,204
20         Cleveland Browns              1950    970
21         Tennessee Titans              1960    900
22            Buffalo Bills              1960    900
23            Detroit Lions              1930  1,249
24       Cincinnati Bengals              1968    788
25       New Orleans Saints              1967    802
26            New York Jets              1960    900
27           Houston Texans              2002    272
28     Jacksonville Jaguars              1995    384
29          Atlanta Falcons              1966    816
30        Arizona Cardinals              1920  1,346
31     Tampa Bay Buccaneers              1976    676

In [18]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','GP','Stadium'])

                      Team  First NFL Season     GP  Stadium
0           Dallas Cowboys              1960    898      NaN
1            Chicago Bears              1920  1,386      NaN
2        Green Bay Packers              1921  1,352      NaN
3  New England Patriots[b]              1960    900      NaN
4           Miami Dolphins              1966    816      NaN
5        Minnesota Vikings              1961    886      NaN

In [19]:
# 先頭だけを表示
nfl_frame.head()

   Rank                     Team    ...     First NFL Season   Division
0     1           Dallas Cowboys    ...                 1960   NFC East
1     2            Chicago Bears    ...                 1920  NFC North
2     3        Green Bay Packers    ...                 1921  NFC North
3     4  New England Patriots[b]    ...                 1960   AFC East
4     5           Miami Dolphins    ...                 1966   AFC East

[5 rows x 9 columns]

In [41]:
# 最後だけを表示
nfl_frame.tail()

    Rank                  Team    ...     First NFL Season   Division
27    28        Houston Texans    ...                 2002  AFC South
28    29  Jacksonville Jaguars    ...                 1995  AFC South
29    30       Atlanta Falcons    ...                 1966  NFC South
30    31     Arizona Cardinals    ...                 1920   NFC West
31    32  Tampa Bay Buccaneers    ...                 1976  NFC South

[5 rows x 9 columns]

In [42]:
# indexを使って、行を取り出せる
nfl_frame.ix[3]

/Users/tsubasa/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

Rank                                      4
Team                New England Patriots[b]
GP                                      900
Won                                     500
Lost                                    391
Tied                                      9
Pct.                                  0.561
First NFL Season                       1960
Division                           AFC East
Name: 3, dtype: object

In [22]:
# 列全体に値を代入
nfl_frame['Stadium']="Levi's Stadium"

In [23]:
nfl_frame

   Rank                     Team       ...         Division         Stadium
0     1           Dallas Cowboys       ...         NFC East  Levi's Stadium
1     2            Chicago Bears       ...        NFC North  Levi's Stadium
2     3        Green Bay Packers       ...        NFC North  Levi's Stadium
3     4  New England Patriots[b]       ...         AFC East  Levi's Stadium
4     5           Miami Dolphins       ...         AFC East  Levi's Stadium
5     6        Minnesota Vikings       ...        NFC North  Levi's Stadium

[6 rows x 10 columns]

In [43]:
# 長さがあって入れば、列への代入が可能
nfl_frame["Stadium"] = np.arange(6)
nfl_frame

ValueError: Length of values does not match length of index

In [25]:
# SeriesをDataFrameに追加する
stadiums = Series(["Levi's Stadium","AT&T Stadium"], index=[4,0])

In [26]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [27]:
nfl_frame['Stadium']=stadiums
nfl_frame

   Rank                     Team       ...         Division         Stadium
0     1           Dallas Cowboys       ...         NFC East    AT&T Stadium
1     2            Chicago Bears       ...        NFC North             NaN
2     3        Green Bay Packers       ...        NFC North             NaN
3     4  New England Patriots[b]       ...         AFC East             NaN
4     5           Miami Dolphins       ...         AFC East  Levi's Stadium
5     6        Minnesota Vikings       ...        NFC North             NaN

[6 rows x 10 columns]

In [28]:
# 列を消すことも可能
del nfl_frame['Stadium']
nfl_frame

   Rank                     Team    ...     First NFL Season   Division
0     1           Dallas Cowboys    ...                 1960   NFC East
1     2            Chicago Bears    ...                 1920  NFC North
2     3        Green Bay Packers    ...                 1921  NFC North
3     4  New England Patriots[b]    ...                 1960   AFC East
4     5           Miami Dolphins    ...                 1966   AFC East
5     6        Minnesota Vikings    ...                 1961  NFC North

[6 rows x 9 columns]

In [29]:
# 辞書からDataFrameを作ることも可能
data = {'City':['SF','LA','NYC'],
        'Population':[837000,3880000,8400000]}

city_frame = DataFrame(data)

city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [30]:
# pandas.DataFrameの機能の全体は、Webで確認できる。
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True