In [1]:
import sqlite3
import pandas as pd
con = sqlite3.connect("sakila.db")


def sql_to_df(sql_query):
    df = pd.read_sql(sql_query, con)
    return df

In [2]:
query = ''' select first_name,last_name from customer;'''

sql_to_df(query).head()

  first_name last_name
0       MARY     SMITH
1   PATRICIA   JOHNSON
2      LINDA  WILLIAMS
3    BARBARA     JONES
4  ELIZABETH     BROWN

In [3]:
query = ''' select * from customer;'''

sql_to_df(query).head()

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28

In [4]:
query = ''' select country_id from city'''

sql_to_df(query).head()

   country_id
0           1
1           2
2           2
3           2
4           3

In [5]:
query = ''' select distinct(country_id) from city'''

sql_to_df(query).head()

   country_id
0           1
1           2
2           3
3           4
4           5

In [6]:
query = ''' select * from customer where store_id = 1;'''

sql_to_df(query).head()

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
3,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
4,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28

In [7]:
query = ''' select * from customer where first_name = 'MARY' '''

sql_to_df(query)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28

In [8]:
query = ''' select * from film where release_year = 2006 and rating = 'R' '''

sql_to_df(query).head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,None,6,4.99,54,15.99,R,Trailers,2011-09-14 18:05:33
1,17,ALONE TRIP,A Fast-Paced Character Study of a Composer And...,2006,1,None,3,0.99,82,14.99,R,"Trailers,Behind the Scenes",2011-09-14 18:05:33
2,20,AMELIE HELLFIGHTERS,A Boring Drama of a Woman And a Squirrel who m...,2006,1,None,4,4.99,79,23.99,R,"Commentaries,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:33
3,21,AMERICAN CIRCUS,A Insightful Drama of a Girl And a Astronaut w...,2006,1,None,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",2011-09-14 18:05:33
4,23,ANACONDA CONFESSIONS,A Lacklusture Display of a Dentist And a Denti...,2006,1,None,3,0.99,92,9.99,R,"Trailers,Deleted Scenes",2011-09-14 18:05:33

In [10]:
query = ''' select * from film where rating = 'PG' or rating = 'R' '''

sql_to_df(query)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:32
1,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,None,3,2.99,169,17.99,PG,Deleted Scenes,2011-09-14 18:05:33
2,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,None,6,4.99,54,15.99,R,Trailers,2011-09-14 18:05:33
3,12,ALASKA PHANTOM,A Fanciful Saga of a Hunter And a Pastry Chef ...,2006,1,None,6,0.99,136,22.99,PG,"Commentaries,Deleted Scenes",2011-09-14 18:05:33
4,13,ALI FOREVER,A Action-Packed Drama of a Dentist And a Croco...,2006,1,None,4,4.99,150,21.99,PG,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:33
5,17,ALONE TRIP,A Fast-Paced Character Study of a Composer And...,2006,1,None,3,0.99,82,14.99,R,"Trailers,Behind the Scenes",2011-09-14 18:05:33
6,19,AMADEUS HOLY,A Emotional Display of a Pioneer And a Technic...,2006,1,None,6,0.99,113,20.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:33
7,20,AMELIE HELLFIGHTERS,A Boring Drama of a Woman And a Squirrel who m...,2006,1,None,4,4.99,79,23.99,R,"Commentaries,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:33
8,21,AMERICAN CIRCUS,A Insightful Drama of a Girl And a Astronaut w...,2006,1,None,3,4.99,129,17.99,R,"Commentaries,Behind the Scenes",2011-09-14 18:05:33
9,23,ANACONDA CONFESSIONS,A Lacklusture Display of a Dentist And a Denti...,2006,1,None,3,0.99,92,9.99,R,"Trailers,Deleted Scenes",2011-09-14 18:05:33
10,24,ANALYZE HOOSIERS,A Thoughtful Display of a Explorer And a Pastr...,2006,1,None,6,2.99,181,19.99,R,"Trailers,Behind the Scenes",2011-09-14 18:05:33
11,30,ANYTHING SAVANNAH,A Epic Story of a Pastry Chef And a Woman who ...,2006,1,None,4,2.99,82,27.99,R,"Trailers,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:33
12,32,APOCALYPSE FLAMINGOS,A Astounding Story of a Dog And a Squirrel who...,2006,1,None,6,4.99,119,11.99,R,"Trailers,Commentaries",2011-09-14 18:05:33
13,37,ARIZONA BANG,A Brilliant Panorama of a Mad Scientist And a ...,2006,1,None,3,2.99,121,28.99,PG,"Trailers,Deleted Scenes",2011-09-14 18:05:33
14,40,ARMY FLINTSTONES,A Boring Saga of a Database Administrator And ...,2006,1,None,4,0.99,148,22.99,R,"Trailers,Commentaries",2011-09-14 18:05:33
15,41,ARSENIC INDEPENDENCE,A Fanciful Documentary of a Mad Cow And a Woma...,2006,1,None,4,0.99,137,17.99,PG,"Trailers,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:33
16,49,BADMAN DAWN,A Emotional Panorama of a Pioneer And a Compos...,2006,1,None,6,2.99,162,22.99,R,"Trailers,Commentaries,Behind the Scenes",2011-09-14 18:05:33
17,54,BANGER PINOCCHIO,A Awe-Inspiring Drama of a Car And a Pastry Ch...,2006,1,None,5,0.99,113,15.99,R,"Trailers,Commentaries,Deleted Scenes",2011-09-14 18:05:34
18,59,BEAR GRACELAND,A Astounding Saga of a Dog And a Boy who must ...,2006,1,None,4,2.99,160,20.99,R,Deleted Scenes,2011-09-14 18:05:34
19,60,BEAST HUNCHBACK,A Awe-Inspiring Epistle of a Student And a Squ...,2006,1,None,3,4.99,89,22.99,R,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:34
20,63,BEDAZZLED MARRIED,A Astounding Character Study of a Madman And a...,2006,1,None,6,0.99,73,21.99,PG,"Trailers,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:34
21,65,BEHAVIOR RUNAWAY,A Unbelieveable Drama of a Student And a Husba...,2006,1,None,3,4.99,100,20.99,PG,"Trailers,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:34
22,69,BEVERLY OUTLAW,A Fanciful Documentary of a Womanizer And a Bo...,2006,1,None,3,2.99,85,21.99,R,Trailers,2011-09-14 18:05:34
23,72,BILL OTHERS,A Stunning Saga of a Mad Scientist And a Foren...,2006,1,None,6,2.99,93,12.99,PG,"Trailers,Commentaries",2011-09-14 18:05:34
24,74,BIRCH ANTITRUST,A Fanciful Panorama of a Husband And a Pioneer...,2006,1,None,4,4.99,162,18.99,PG,"Trailers,Commentaries,Deleted Scenes",2011-09-14 18:05:34
25,78,BLACKOUT PRIVATE,A Intrepid Yarn of a Pastry Chef And a Mad Sci...,2006,1,None,7,2.99,85,12.99,PG,"Trailers,Deleted Scenes",2011-09-14 18:05:34
26,84,BOILED DARES,A Awe-Inspiring Story of a Waitress And a Dog ...,2006,1,None,7,4.99,102,13.99,PG,"Trailers,Commentaries",2011-09-14 18:05:34
27,86,BOOGIE AMELIE,A Lacklusture Character Study of a Husband And...,2006,1,None,6,4.99,121,11.99,R,"Commentaries,Behind the Scenes",2011-09-14 18:05:34
28,88,BORN SPINAL,A Touching Epistle of a Frisbee And a Husband ...,2006,1,None,7,4.99,179,17.99,PG,"Trailers,Commentaries,Deleted Scenes",2011-09-14 18:05:34
29,90,BOULEVARD MOB,A Fateful Epistle of a Moose And a Monkey who ...,2006,1,None,3,0.99,63,11.99,R,Trailers,2011-09-14 18:05:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,925,UNITED PILOT,A Fast-Paced Reflection of a Cat And a Mad Cow...,2006,1,None,3,0.99,164,27.99,R,"Trailers,Deleted Scenes",2011-09-14 18:05:54
360,928,UPTOWN YOUNG,A Fateful Documentary of a Dog And a Hunter wh...,2006,1,None,5,2.99,84,16.99,PG,Commentaries,2011-09-14 18:05:54
361,930,VACATION BOONDOCK,A Fanciful Character Study of a Secret Agent A...,2006,1,None,4,2.99,145,23.99,R,Commentaries,2011-09-14 18:05:54
362,935,VANISHED GARDEN,A Intrepid Character Study of a Squirrel And a...,2006,1,None,5,0.99,142,17.99,R,"Trailers,Commentaries,Deleted Scenes",2011-09-14 18:05:54
363,938,VELVET TERMINATOR,A Lacklusture Tale of a Pastry Chef And a Tech...,2006,1,None,3,4.99,173,14.99,R,Behind the Scenes,2011-09-14 18:05:54
364,939,VERTIGO NORTHWEST,A Unbelieveable Display of a Mad Scientist And...,2006,1,None,4,2.99,90,17.99,R,"Commentaries,Behind the Scenes",2011-09-14 18:05:55
365,945,VIRGINIAN PLUTO,A Emotional Panorama of a Dentist And a Crocod...,2006,1,None,5,0.99,164,22.99,R,Deleted Scenes,2011-09-14 18:05:55
366,950,VOLUME HOUSE,A Boring Tale of a Dog And a Woman who must Me...,2006,1,None,7,4.99,132,12.99,PG,Commentaries,2011-09-14 18:05:55
367,952,WAGON JAWS,A Intrepid Drama of a Moose And a Boat who mus...,2006,1,None,7,2.99,152,17.99,PG,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:55
368,955,WALLS ARTIST,A Insightful Panorama of a Teacher And a Teach...,2006,1,None,7,4.99,135,19.99,PG,"Trailers,Behind the Scenes",2011-09-14 18:05:55
369,961,WASH HEAVENLY,A Awe-Inspiring Reflection of a Cat And a Pion...,2006,1,None,7,4.99,161,22.99,R,Commentaries,2011-09-14 18:05:55
370,962,WASTELAND DIVINE,A Fanciful Story of a Database Administrator A...,2006,1,None,7,2.99,85,18.99,PG,"Trailers,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:55
371,963,WATCH TRACY,A Fast-Paced Yarn of a Dog And a Frisbee who m...,2006,1,None,5,0.99,78,12.99,PG,"Trailers,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:55
372,966,WEDDING APOLLO,A Action-Packed Tale of a Student And a Waitre...,2006,1,None,3,0.99,70,14.99,PG,Trailers,2011-09-14 18:05:55
373,967,WEEKEND PERSONAL,A Fast-Paced Documentary of a Car And a Butler...,2006,1,None,5,2.99,134,26.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2011-09-14 18:05:55
374,974,WILD APOLLO,A Beautiful Story of a Monkey And a Sumo Wrest...,2006,1,None,4,0.99,181,24.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2011-09-14 18:05:55
375,975,WILLOW TRACY,A Brilliant Panorama of a Boat And a Astronaut...,2006,1,None,6,2.99,137,22.99,R,"Trailers,Commentaries,Behind the Scenes",2011-09-14 18:05:55
376,976,WIND PHANTOM,A Touching Saga of a Madman And a Forensic Psy...,2006,1,None,6,0.99,111,12.99,R,"Commentaries,Deleted Scenes",2011-09-14 18:05:55
377,977,WINDOW SIDE,A Astounding Character Study of a Womanizer An...,2006,1,None,3,2.99,85,25.99,R,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:55
378,978,WISDOM WORKER,A Unbelieveable Saga of a Forensic Psychologis...,2006,1,None,3,0.99,98,12.99,R,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:55
379,980,WIZARD COLDBLOODED,A Lacklusture Display of a Robot And a Girl wh...,2006,1,None,4,4.99,75,12.99,PG,"Commentaries,Deleted Scenes,Behind the Scenes",2011-09-14 18:05:55
380,982,WOMEN DORADO,A Insightful Documentary of a Waitress And a B...,2006,1,None,4,0.99,126,23.99,R,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:56
381,983,WON DARES,A Unbelieveable Documentary of a Teacher And a...,2006,1,None,7,2.99,105,18.99,PG,Behind the Scenes,2011-09-14 18:05:56
382,985,WONDERLAND CHRISTMAS,A Awe-Inspiring Character Study of a Waitress ...,2006,1,None,4,4.99,111,19.99,PG,Commentaries,2011-09-14 18:05:56
383,987,WORDS HUNTER,A Action-Packed Reflection of a Composer And a...,2006,1,None,3,2.99,116,13.99,PG,"Trailers,Commentaries,Deleted Scenes",2011-09-14 18:05:56
384,988,WORKER TARZAN,A Action-Packed Yarn of a Secret Agent And a T...,2006,1,None,7,2.99,139,26.99,R,"Trailers,Commentaries,Behind the Scenes",2011-09-14 18:05:56
385,989,WORKING MICROCOSMOS,A Stunning Epistle of a Dentist And a Dog who ...,2006,1,None,4,4.99,74,22.99,R,"Commentaries,Deleted Scenes",2011-09-14 18:05:56
386,991,WORST BANGER,A Thrilling Drama of a Madman And a Dentist wh...,2006,1,None,4,2.99,185,26.99,PG,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:56
387,995,YENTL IDAHO,A Amazing Display of a Robot And a Astronaut w...,2006,1,None,5,4.99,86,11.99,R,"Trailers,Commentaries,Deleted Scenes",2011-09-14 18:05:56
388,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2011-09-14 18:05:56