In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
dframe_wine = pd.read_csv('winequality-red.csv',sep=';')
dframe_wine.head()

   fixed acidity  volatile acidity   ...     alcohol  quality
0            7.4              0.70   ...         9.4        5
1            7.8              0.88   ...         9.8        5
2            7.8              0.76   ...         9.8        5
3           11.2              0.28   ...         9.8        6
4            7.4              0.70   ...         9.4        5

[5 rows x 12 columns]

In [19]:
def ranker(df):
    df['alc_content_rank'] = np.arange(len(df)) + 1
    return df

In [26]:
# アルコール度数を降順で並べる
dframe_wine.sort_values('alcohol',ascending=False,inplace=True)
# groupbyのあと、ranker関数を適用する
dframe_wine = dframe_wine.groupby('quality').apply(ranker)
dframe_wine.head()

      fixed acidity        ...         alc_content_rank
652            15.9        ...                        1
588             5.0        ...                        1
142             5.2        ...                        1
144             5.2        ...                        2
1270            5.0        ...                        3

[5 rows x 13 columns]

In [21]:
num_of_qual = dframe_wine['quality'].value_counts()
num_of_qual

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [22]:
# それぞれのランクから一番アルコール度数が高いワインを抽出する
dframe_wine[dframe_wine.alc_content_rank == 1].sort_values('quality')

     fixed acidity        ...         alc_content_rank
899            8.3        ...                        1
45             4.6        ...                        1
652           15.9        ...                        1
142            5.2        ...                        1
821            4.9        ...                        1
588            5.0        ...                        1

[6 rows x 13 columns]